
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card">
                <section class="mdc-card__primary">
                    <h1 class="mdc-card__title mdc-card__title--large">Dashboard Analytics</h1>
                </section>
                <section class="mdc-card__supporting-text">
                </section>
            </div>
        </div>
    </div>
</div>
        
