<hgroup>
    <h1>Bright Hotel</h1>
    <h3>Admin Panel</h3>
</hgroup>
<form method="POST" action="/login" id="login">
    <div class="group">
        <input type="email" name="email" required="required" id="email"><span class="highlight"></span><span class="bar"></span>
        <label>Email</label>
    </div>
    <div class="group">
        <input type="password" name="password" required="required" id="password"><span class="highlight"></span><span class="bar"></span>
        <label>Password</label>
    </div>
    <button type="submit" class="button buttonBlue" id="loginFormSubmit">Login
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    {{message}}
</form>
